.start-delivery{
    padding-left: 12rem;
    padding-right: 6rem;
}
@media screen and (max-width: 450px){
    .start-delivery{
        padding-left: 6rem;
        padding-right: 6rem;
        /* background-color: red; */
    }
}